<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/userProfile.css">
</head>

<body>
    <nav class=" fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="cardContainer">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <img class="profilePic" src="../<%= transferred.user_icon %>">
                </div>
                <div class="col-12 col-lg-9">
                    <div class="rating">
                        <h1 id="username">
                            <%=transferred.user_name%>
                        </h1>
                        <h4 id="rating">User Rating: <%=transferred.rating %>/5</h4>
                        <h4 id="level">Skills Level: <%=transferred.level%>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="UserIntroduction" id="UserIntroduction">
                        <%=transferred.introduction%>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="personBiography">
                        <h5 id="email">
                            <%= transferred.email%>
                        </h5>
                        <h6 id="gender">Gender: <%=transferred.gender%>
                        </h6>
                        <div id="experience">
                            <%=transferred.experience %> experience point accumulated
                        </div>
                        <div class="commentCardsHolder">
                            <% transferred.comments.forEach((comment)=>{ %>
                                 <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><%=comment.single_rating %>/5</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">by <%= comment.user_name %>
                                            <spanid="date"><%= comment.date %></span></span></h6>
                                        <p class="card-text"><%= comment.comment %></p>
                                    </div>
                                </div><% })%>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>